*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:black;
}

.container{
    position: relative;
}

.clock
{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: aquamarine;
    border: 2px solid aquamarine;
    box-shadow: 0px 0px 30px aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;

}

.clock span b{
    position: absolute;
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before{
    content: '';
    position:absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: aliceblue;
    z-index: 2;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;

}
/* 
#time{
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    border: 2px solid aquamarine;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rosybrown;
    inset: 5px 5px 20px brown;
    inset: -5px -5px 15px pink;
}

#time div{
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 600;
    color: var(--clr);
}

#time div:nth-child(1)::after,
#time div:nth-child(2)::after{
    content:':';
    position: absolute;
    right: -4px;
}

#time div:last-child
{
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}

#time div:nth-child(2)::after
{
    animation:animate 1s steps(1) infinite;
}

@keyframes animate
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
} */